@font-face {
  font-family: "Jambu Kristal";
  src: url("../public/fonts/jambu-kristal-font/JambuKristal-1G01M.otf") format('opentype');
}

iframe
{
  display: none;
}

body{
  background-image: url("../public/visual/back.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow: hidden;

  font-family: "Jambu Kristal", Calibri, Tahoma, sans-serif;
}

.header {
  display: block;
  position: relative;
  height: 20vh;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.login-container{
  display: block;
  position: relative;
  height: 80vh;
  padding: 0;
}

.grid-container-2{
  display: grid;
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1fr;
}

.footer{
  position: relative;
  display: block;
  bottom: 0;
  height: 5vh;
  left: 80%;
  width: 20%;
  z-index: 100;
}

.lamas-container{
  position: absolute;
  z-index: 50;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

.lama{
  position: fixed;
  background-image: url("../public/visual/lama.png");
  background-size: contain;
  width: 10vh;
  height: 10vh;
}

.r-lama{
  position: fixed;
  background-image: url("../public/visual/r-lama.png");
  background-size: contain;
  width: 10vh;
  height: 10vh;
}

.footer > button{
  display: inline-block;
  height: 5vh;
  max-height: 5vh;
  padding: 1vh;
  width: 10vh;
  margin: auto 0 auto auto;
}

.grid-container-3to1-h{
  display: grid;
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: auto;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1fr;
}

.grid-container-2x2{
  display: grid;
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1fr 1fr;
}


.grid-container-1to2to1-v {
  display: grid;
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: auto;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 5%;
  grid-template-rows: 0.5fr 1fr 1fr;
}

.grid-container-1to1to1-h {
  display: grid;
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1fr;
}

.grid-container-1to1-v {
  display: grid;
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: auto;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 20%;
  grid-template-rows: 1fr 1fr;
}


.right {
  display: block;
}

.left {
  display: block;
}

.login-form {
  display: block;
  position: relative;
}

.panel-mini{
  background-image: url("../public/visual/panel_mini.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5%;
  width: 80%;
  max-width: 200px;
  min-width: 0;
  margin: auto;
}

.login-form-panel{
  display: block;
  position: relative;
  height: 100%;
  width: 80%;
  top: -8vh;
  max-width: 300px;
  margin: auto;
  background-image: url("../public/visual/panel.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.form-panel-big{
  padding: 2%;
  display: block;
  position: relative;
  width: 80vh;
  top: -8vh;
  margin: auto;
  background-image: url("../public/visual/panel_big.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.split {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 50%;
  z-index: 1;
  top: 0;
  overflow: hidden;
  padding-top: 0;
}

.login-form > *{
  display: block;
  position: relative;
}

.grid-container {
  position: relative;
  display: grid;
  height: auto;
  width: 40%;
  margin: auto;
  top: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.score-grid {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;

  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gold{
  background-image: url("../public/visual/gold.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.silver{
  background-image: url("../public/visual/silver.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bronze{
  background-image: url("../public/visual/bronze.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.grid-container-3 {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-container-1to5to2 {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 5fr 2fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1fr;
}


.grid-container-4 {
  position: relative;
  display: grid;
  height: 40%;
  width: 30%;
  margin: auto;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-item {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}

.grid-item-alt {
  height: 100%;
  width: 100%;
  position: relative;
}

.disabled {
  pointer-events: none;
}

.RED{
  background-image: url("../public/visual/red.png"), url("../public/visual/panel.png");
  background-repeat: no-repeat;
  background-size: 70% 70%, 100% 100%;
  background-position: center center;
}

.BLUE{
  background-image: url("../public/visual/blue.png"), url("../public/visual/panel.png");
  background-repeat: no-repeat;
  background-size: 70% 70%, 100% 100%;
  background-position: center center;
}

.GREEN{
  background-image: url("../public/visual/green.png"), url("../public/visual/panel.png");
  background-repeat: no-repeat;
  background-size: 70% 70%, 100% 100%;
  background-position: center center;
}

.WHITE{
  background-image: url("../public/visual/white.png"), url("../public/visual/panel.png");
  background-repeat: no-repeat;
  background-size: 70% 70%, 100% 100%;
  background-position: center center;
}

.CYAN{
  background-image: url("../public/visual/cyan.png"), url("../public/visual/panel.png");
  background-repeat: no-repeat;
  background-size: 70% 70%, 100% 100%;
  background-position: center center;
}

.PURPLE{
  background-image: url("../public/visual/purple.png"), url("../public/visual/panel.png");
  background-repeat: no-repeat;
  background-size: 70% 70%, 100% 100%;
  background-position: center center;
}

.YELLOW{
  background-image: url("../public/visual/yellow.png"), url("../public/visual/panel.png");
  background-repeat: no-repeat;
  background-size: 70% 70%, 100% 100%;
  background-position: center center;
}

.insert-left{
  background-image: url("../public/visual/arrow.png");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
  overflow: hidden;
  transform: rotate(90deg);
}

.insert-right{
  background-image: url("../public/visual/arrow.png");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
  overflow: hidden;
  transform: rotate(-90deg);
}

.insert-up{
  background-image: url("../public/visual/arrow.png");
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
  overflow: hidden;
  transform: rotate(180deg);
}

.logo{
  width: auto;
  height: 100%;
}

label{
  margin-top: 5%;
  position: relative;
  margin-left: 10%;
  display: block;
}

input{
  font-family: "Jambu Kristal", Calibri, Tahoma, sans-serif;
  position: relative;
  margin-left: 10%;
  display: block;
}

.insert-button{
  opacity: 0.3;
}

.insert-button:hover{
  opacity: 1;
}

button{
  display: inline-block;
  position: relative;
  margin-right: 2%;
  margin-left: 2%;
  left: 13%;
  background-image: url("../public/visual/panel_mini.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  border: none;
  padding: 10%;
  max-width: 40%;
  font-family: "Jambu Kristal", Calibri, Tahoma, sans-serif;
}

button:focus{
  outline: none;
}

input, textarea:focus{
  outline: none
}

input, textarea {
  background-image: url("../public/visual/panel.png");
  background-color: transparent;
  background-size: 100% 100%;
  padding: 10px;
  text-indent: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

textarea {
  background-image: url("../public/visual/panel_big.png");
}

textarea{
  padding: 5%;
  width: 90% !important;
  height: 90% !important;
  font-family: "Jambu Kristal", Calibri, Tahoma, sans-serif;
  resize: none;
  border: none;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-high {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-45px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-low {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fall-clock-wise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(100px) rotate(180deg);
  }
}

@keyframes fall-counter-clock-wise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(100px) rotate(-180deg);
  }
}

.bounce {
  animation: bounce 1.5s linear infinite;
}

.bounce-high {
  animation: bounce-high 2s linear infinite;
}

.bounce-low {
  animation: bounce-low 1s linear infinite;
}

.sad-lama{
  position: fixed;
  background-image: url("../public/visual/lama_sad.png");
  background-size: contain;
  width: 10vh;
  height: 10vh;
}

.r-sad-lama{
  position: fixed;
  background-image: url("../public/visual/r-lama_sad.png");
  background-size: contain;
  width: 10vh;
  height: 10vh;
}

.fall-clock-wise{
  animation: fall-clock-wise 1s linear;
}

.fall-counter-clock-wise{
  animation: fall-counter-clock-wise 1s linear;
}